$color-one = #FFC371
$color-two = #FF5F6D

$color-one-hover = #E5AF66
$color-two-hover = #E55562

$color-text = #666666


/** ===== FEEDBACK COLORS ===== **/
$color-success = #2BB281
$color-error = #B2442C