.button 
	display inline-block
	padding 14px 32px
	border-radius 5px
	font-size 1.2em	       	
	
	
	&.--default
		background-color transparent
		color #FFFFFF
		border solid 1px #FFFFFF	
		&:hover 
			color $color-one
			background #FFFFFF
			transition-duration .5s

	&.--gradient
		gradient()
		color #FFFFFF 
		
	&.--block 
		width 100%
		
		
			
