@font-face 
  font-family 'iconsFeedback'
  src url('/assets/fonts/feedback/fontello.eot?78914200')
  src url('/assets/fonts/feedback/fontello.eot?78914200#iefix') format('embedded-opentype'),
      url('/assets/fonts/feedback/fontello.woff2?78914200') format('woff2'),
      url('/assets/fonts/feedback/fontello.woff?78914200') format('woff'),
      url('/assets/fonts/feedback/fontello.ttf?78914200') format('truetype'),
      url('/assets/fonts/feedback/fontello.svg?78914200#fontello') format('svg')
  font-weight normal
  font-style normal
  
@font-face
	font-family 'iconsHeader'
	src url('/assets/fonts/header/fontello.eot?88887750')
	src url('/assets/fonts/header/fontello.eot?88887750#iefix') format('embedded-opentype'),
	    url('/assets/fonts/header/fontello.woff2?88887750') format('woff2'),
	    url('/assets/fonts/header/fontello.woff?88887750') format('woff'),
	    url('/assets/fonts/header/fontello.ttf?88887750') format('truetype'),
	    url('/assets/fonts/header/fontello.svg?88887750#fontello') format('svg')
	font-weight normal
	font-style normal


.icon
	font-style normal
	font-weight normal
	font-size 1rem
	
	&.--error::before
		font-family "iconsFeedback"
		content '\e803'
		
	&.--success::before
		font-family "iconsFeedback"
		content '\e804'
	
	&.--info::before
		font-family "iconsFeedback"
		content '\e800'
		
	&.--nav::before
		font-family "iconsHeader"
		content "\e801"
		
	&.--globe::before
		font-family "iconsHeader"
		content "\e802"