.form&.--inverse 
	
	.input-group
		margin-bottom 30px
		
		> .label	
			color #FFFFFF
			
		> .input
			width 100%
			padding 14px 0px
			font-size 1em
			font-weight 100
			color rgba(0, 0, 0, .5)
			background-color transparent
			border-bottom solid 1px #FFFFFF
			
		> .description 
			color rgba(0, 0, 0, .5)
			

.alert
	display none
	text-align center
	color #FFFFFF
		
	&.--open
		display block		
	
			